In [1]:
import pandas as pd

### dailyActivity_merged

In [2]:
dailyActivity_merged = pd.read_csv('dailyActivity_merged.csv')

In [3]:
# Count the number of unique users
num_users1 = dailyActivity_merged['Id'].nunique()

In [4]:
num_users1

35

In [19]:
dailyActivity_merged['ActivityDate'].nunique()

32

### heartrate_seconds_merged

In [5]:
heartrate_seconds_merged = pd.read_csv('heartrate_seconds_merged.csv') 
# Count the number of unique users
num_users2 = heartrate_seconds_merged['Id'].nunique()
num_users2

14

In [21]:
heartrate_seconds_merged.head()

           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100

### hourlyCalories_merged

In [6]:
hourlyCalories_merged = pd.read_csv('hourlyCalories_merged.csv') 
# Count the number of unique users
num_users3 = hourlyCalories_merged['Id'].nunique()
num_users3

34

In [24]:
hourlyCalories_merged.head()

           Id           ActivityHour  Calories
0  1503960366  3/12/2016 12:00:00 AM        48
1  1503960366   3/12/2016 1:00:00 AM        48
2  1503960366   3/12/2016 2:00:00 AM        48
3  1503960366   3/12/2016 3:00:00 AM        48
4  1503960366   3/12/2016 4:00:00 AM        48

In [26]:
# Convert ActivityHour to datetime format
t = pd.to_datetime(hourlyCalories_merged['ActivityHour'])

# Extract the date part
t.dt.date.nunique()

C:\Users\jingj\AppData\Local\Temp\ipykernel_35004\2816662909.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  t = pd.to_datetime(hourlyCalories_merged['ActivityHour'])

32

### hourlyIntensities_merged

In [8]:
hourlyIntensities_merged = pd.read_csv('hourlyIntensities_merged.csv') 
# Count the number of unique users
num_users4 = hourlyIntensities_merged['Id'].nunique()
num_users4

34

In [27]:
hourlyIntensities_merged.head()

           Id           ActivityHour  TotalIntensity  AverageIntensity
0  1503960366  3/12/2016 12:00:00 AM               0               0.0
1  1503960366   3/12/2016 1:00:00 AM               0               0.0
2  1503960366   3/12/2016 2:00:00 AM               0               0.0
3  1503960366   3/12/2016 3:00:00 AM               0               0.0
4  1503960366   3/12/2016 4:00:00 AM               0               0.0

In [28]:
# Convert ActivityHour to datetime format
t = pd.to_datetime(hourlyIntensities_merged['ActivityHour'])

# Extract the date part
t.dt.date.nunique()

C:\Users\jingj\AppData\Local\Temp\ipykernel_35004\2368805591.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  t = pd.to_datetime(hourlyIntensities_merged['ActivityHour'])

32

### hourlySteps_merged

In [9]:
hourlySteps_merged = pd.read_csv('hourlySteps_merged.csv') 
# Count the number of unique users
num_users5 = hourlySteps_merged['Id'].nunique()
num_users5

34

In [29]:
hourlySteps_merged.head()

           Id           ActivityHour  StepTotal
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366   3/12/2016 1:00:00 AM          0
2  1503960366   3/12/2016 2:00:00 AM          0
3  1503960366   3/12/2016 3:00:00 AM          0
4  1503960366   3/12/2016 4:00:00 AM          0

In [30]:
# Convert ActivityHour to datetime format
t = pd.to_datetime(hourlySteps_merged['ActivityHour'])

# Extract the date part
t.dt.date.nunique()

C:\Users\jingj\AppData\Local\Temp\ipykernel_35004\450872632.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  t = pd.to_datetime(hourlySteps_merged['ActivityHour'])

32

### minuteCaloriesNarrow_merged

In [10]:
minuteCaloriesNarrow_merged = pd.read_csv('minuteCaloriesNarrow_merged.csv') 
# Count the number of unique users
num_users6 = minuteCaloriesNarrow_merged['Id'].nunique()
num_users6

34

### minuteIntensitiesNarrow_merged

In [11]:
minuteIntensitiesNarrow_merged = pd.read_csv('minuteIntensitiesNarrow_merged.csv') 
# Count the number of unique users
num_users7 = minuteIntensitiesNarrow_merged['Id'].nunique()
num_users7

34

### minuteMETsNarrow_merged

In [12]:
minuteMETsNarrow_merged = pd.read_csv('minuteMETsNarrow_merged.csv') 
# Count the number of unique users
num_users8 = minuteMETsNarrow_merged['Id'].nunique()
num_users8

34

### minuteSleep_merged

In [13]:
minuteSleep_merged = pd.read_csv('minuteSleep_merged.csv') 
# Count the number of unique users
num_users9 = minuteSleep_merged['Id'].nunique()
num_users9

23

### minuteStepsNarrow_merged

In [14]:
minuteStepsNarrow_merged = pd.read_csv('minuteStepsNarrow_merged.csv') 
# Count the number of unique users
num_users10 = minuteStepsNarrow_merged['Id'].nunique()
num_users10

34

### weightLogInfo_merged

In [15]:
weightLogInfo_merged = pd.read_csv('weightLogInfo_merged.csv') 
# Count the number of unique users
num_users11 = weightLogInfo_merged['Id'].nunique()
num_users11

11

## The dataset that will be used in this project:
- weightLogInfo_merged
- hourlyCalories_merged
- hourlyIntensities_merged
- hourlySteps_merged

In [58]:
df1 = dailyActivity_merged[['Id', 'ActivityDate']]
df2 = hourlyCalories_merged

merged_df1 = pd.merge(df1, df2, on='Id', how='left', suffixes=('', '_right'))

In [60]:
merged_df1.head()

           Id ActivityDate           ActivityHour  Calories
0  1503960366    3/25/2016  3/12/2016 12:00:00 AM      48.0
1  1503960366    3/25/2016   3/12/2016 1:00:00 AM      48.0
2  1503960366    3/25/2016   3/12/2016 2:00:00 AM      48.0
3  1503960366    3/25/2016   3/12/2016 3:00:00 AM      48.0
4  1503960366    3/25/2016   3/12/2016 4:00:00 AM      48.0

In [53]:
merged_df1['Calories'].isnull()]

            Id
0   1503960366
1   1624580081
2   1644430081
3   1844505072
4   1927972279
5   2022484408
6   2026352035
7   2320127002
8   2347167796
9   2873212765
10  2891001357
11  3372868164
12  3977333714
13  4020332650
14  4057192912
15  4319703577
16  4388161847
17  4445114986
18  4558609924
19  4702921684
20  5553957443
21  5577150313
22  6117666160
23  6290855005
24  6391747486
25  6775888955
26  6962181067
27  7007744171
28  7086361926
29  8053475328
30  8253242879
31  8378563200
32  8583815059
33  8792009665
34  8877689391

In [59]:
merged_df1

                Id ActivityDate           ActivityHour  Calories
0       1503960366    3/25/2016  3/12/2016 12:00:00 AM      48.0
1       1503960366    3/25/2016   3/12/2016 1:00:00 AM      48.0
2       1503960366    3/25/2016   3/12/2016 2:00:00 AM      48.0
3       1503960366    3/25/2016   3/12/2016 3:00:00 AM      48.0
4       1503960366    3/25/2016   3/12/2016 4:00:00 AM      48.0
...            ...          ...                    ...       ...
324212  8877689391    4/12/2016   4/12/2016 4:00:00 AM      73.0
324213  8877689391    4/12/2016   4/12/2016 5:00:00 AM      73.0
324214  8877689391    4/12/2016   4/12/2016 6:00:00 AM      96.0
324215  8877689391    4/12/2016   4/12/2016 7:00:00 AM     169.0
324216  8877689391    4/12/2016   4/12/2016 8:00:00 AM     136.0

[324217 rows x 4 columns]