In [9]:
import pandas as pd

In [10]:
dailyActivity_merged = pd.read_csv('dailyActivity_merged.csv')

In [11]:
dailyActivity_merged

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820
456,8877689391,4/12/2016,2350,1.780000,1.780000,0.0,0.00,0.00,1.78,0.00,0,0,58,531,938

In [12]:
dailyActivity_merged.dtypes

Id                            int64
ActivityDate                 object
TotalSteps                    int64
TotalDistance               float64
TrackerDistance             float64
LoggedActivitiesDistance    float64
VeryActiveDistance          float64
ModeratelyActiveDistance    float64
LightActiveDistance         float64
SedentaryActiveDistance     float64
VeryActiveMinutes             int64
FairlyActiveMinutes           int64
LightlyActiveMinutes          int64
SedentaryMinutes              int64
Calories                      int64
dtype: object

## Data Check & Understanding

In [13]:
df = dailyActivity_merged

### 1 - Check if "TotalDistance = TrackerDistance + LoggedActivitiesDistance (用户手动记录距离)"

In [18]:
df['Equal_TotalDistance2'] = df['TotalDistance'] == df['TrackerDistance'] + df['LoggedActivitiesDistance']
df[df['Equal_TotalDistance2'] == False]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Equal_TotalDistance,sum_distance,Equal_TotalDistance2
138,2891001357,4/1/2016,0,0.00,0.00,4.828032,0.00,0.00,0.00,0.00,0,660,0,780,4562,True,0.00,False
139,2891001357,4/2/2016,4126,3.22,0.00,3.218688,0.00,0.00,3.22,0.00,0,0,720,720,2881,False,3.22,False
142,2891001357,4/5/2016,2063,1.61,0.00,1.609344,0.00,0.00,1.61,0.00,0,0,630,99,1144,False,1.61,False
215,4057192912,3/30/2016,5419,4.00,4.57,0.055843,0.00,0.00,3.91,0.06,0,0,145,1295,2259,False,3.97,False
335,6391747486,4/2/2016,2101,2.03,0.00,2.027773,2.03,0.00,0.00,0.00,46,0,0,1394,2224,False,2.03,False
338,6391747486,4/5/2016,9766,7.51,0.78,6.727057,0.00,0.05,7.46,0.00,0,6,301,1133,2442,False,7.51,False
359,6962181067,4/6/2016,12480,8.86,8.25,3.972795,4.18,0.69,4.00,0.00,55,14,276,593,2170,False,8.87,False
360,6962181067,4/7/2016,13417,9.65,8.87,1.926302,3.39,1.25,4.91,0.10,45,16,284,665,2244,False,9.65,False
361,6962181067,4/8/2016,14400,10.88,9.52,5.456864,2.47,2.88,5.53,0.00,27,37,276,697,2188,False,10.88,False
364,6962181067,4/11/2016,12362,9.09,8.17,2.696455,1.09,2.73,5.27,0.00,21,38,297,678,2188,False,9.09,False
366,7007744171,4/1/2016,11680,9.06,7.81,4.901283,4.49,0.33,4.24,0.00,50,7,244,1139,2573,False,9.06,False
369,7007744171,4/4/2016,15266,11.40,10.21,5.189850,5.80,0.76,4.79,0.05,70,21,292,1057,2886,False,11.40,False
370,7007744171,4/5/2016,12084,9.14,8.08,4.836380,4.39,0.46,4.29,0.00,50,6,284,1030,2676,False,9.14,False
371,7007744171,4/6/2016,13513,10.25,9.07,4.835720,5.35,0.33,4.56,0.00,64,8,270,1098,2811,False,10.24,False
372,7007744171,4/7/2016,14100,10.58,9.43,4.875990,5.10,1.19,4.28,0.00,61,33,265,1015,2840,False,10.57,False
373,7007744171,4/8/2016,12627,9.65,8.45,4.842320,4.70,0.74,4.21,0.00,54,22,301,1063,2871,False,9.65,False
377,7007744171,4/12/2016,7413,5.77,4.96,4.869783,4.50,0.34,0.94,0.00,53,6,43,405,1023,False,5.78,False
416,8378563200,4/4/2016,13935,11.05,11.05,2.092147,4.09,0.79,6.17,0.00,105,16,220,658,4234,True,11.05,False
417,8378563200,4/5/2016,12846,10.19,10.19,2.253081,5.00,0.75,4.44,0.00,113,15,189,686,4128,True,10.19,False
418,8378563200,4/6/2016,9124,7.24,7.24,2.092147,0.00,0.25,6.99,0.00,55,6,230,728,3798,True,7.24,False
419,8378563200,4/7/2016,9725,7.71,7.71,2.253081,2.41,0.53,4.77,0.00,83,11,181,670,3839,True,7.71,False
420,8378563200,4/8/2016,8350,6.62,6.62,2.092147,1.49,0.53,4.61,0.00,72,10,167,868,3713,True,6.63,False
423,8378563200,4/11/2016,8837,7.01,7.01,2.092147,1.54,0.88,4.59,0.00,74,17,182,811,3775,True,7.01,False
424,8378563200,4/12/2016,3246,2.57,2.57,2.253081,0.83,0.71,1.03,0.00,65,15,49,243,1882,True,2.57,False

In [19]:
# count the number of rows
df[df['Equal_TotalDistance2'] == False].shape[0]

24

### 2 - Check if "TotalDistance = VeryActiveDistance + ModeratelyActiveDistance + LightActiveDistance + SedentaryActiveDistance (久坐活动距离)"

In [16]:
df['sum_distance'] = df['VeryActiveDistance'] + df['ModeratelyActiveDistance'] + df['LightActiveDistance'] + df['SedentaryActiveDistance']

In [21]:
df['Equal_TotalDistance3'] = df['TotalDistance'] == df['sum_distance'] 
df[df['Equal_TotalDistance3'] == False]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Equal_TotalDistance,sum_distance,Equal_TotalDistance2,Equal_TotalDistance3
0,1503960366,3/25/2016,11004,7.110000,7.110000,0.0,2.57,0.46,4.07,0.00,33,12,205,804,1819,True,7.10,True,False
1,1503960366,3/26/2016,17609,11.550000,11.550000,0.0,6.92,0.73,3.91,0.00,89,17,274,588,2154,True,11.56,True,False
2,1503960366,3/27/2016,12736,8.530000,8.530000,0.0,4.66,0.16,3.71,0.00,56,5,268,605,1944,True,8.53,True,False
3,1503960366,3/28/2016,13231,8.930000,8.930000,0.0,3.19,0.79,4.95,0.00,39,20,224,1080,1932,True,8.93,True,False
4,1503960366,3/29/2016,12041,7.850000,7.850000,0.0,2.16,1.09,4.61,0.00,28,28,243,763,1886,True,7.86,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451,8877689391,4/7/2016,10910,8.420000,8.420000,0.0,2.96,0.39,5.03,0.00,32,11,212,1185,2947,True,8.38,True,False
452,8877689391,4/8/2016,23014,20.389999,20.389999,0.0,11.10,0.63,8.62,0.00,70,29,359,982,4196,True,20.35,True,False
453,8877689391,4/9/2016,16470,8.070000,8.070000,0.0,0.00,0.02,8.02,0.00,90,9,289,1052,3841,True,8.04,True,False
454,8877689391,4/10/2016,28497,27.530001,27.530001,0.0,21.92,1.12,4.46,0.00,128,46,211,1055,4526,True,27.50,True,False
455,8877689391,4/11/2016,10622,8.060000,8.060000,0.0,1.47,0.15,6.37,0.01,18,7,225,1190,2820,True,8.00,True,False

In [22]:
# count the number of rows
df[df['Equal_TotalDistance3'] == False].shape[0]

271

In [23]:
dis_diff = df['TotalDistance'] - df['sum_distance']

In [37]:
abs(dis_diff).max(), abs(dis_diff).min()

(7.40999984741211, 0.0)

## Data Cleaning

### Checking for missing data

In [39]:
# # Check if there are any null values in the column
has_null_Id = df['Id'].isnull().any()
# Count the number of null values in the column
null_count_Id = df['Id'].isnull().sum()
null_count_Id

0

In [40]:
null_count_ActivityDate = df['ActivityDate'].isnull().sum()
null_count_ActivityDate

0

In [41]:
null_count_TotalSteps = df['TotalSteps'].isnull().sum()
null_count_TotalSteps

0

In [42]:
null_count_TotalDistance = df['TotalDistance'].isnull().sum()
null_count_TotalDistance

0

In [43]:
null_count_TrackerDistance = df['TrackerDistance'].isnull().sum()
null_count_TrackerDistance

0

null_count_LoggedActivitiesDistance = df['LoggedActivitiesDistance'].isnull().sum()
null_count_VeryActiveDistance = df['VeryActiveDistance'].isnull().sum()
null_count_ModeratelyActiveDistance = df['ModeratelyActiveDistance'].isnull().sum()
null_count_LightActiveDistance = df['LightActiveDistance'].isnull().sum()
null_count_SedentaryActiveDistance = df['SedentaryActiveDistance'].isnull().sum()


null_count_LoggedActivitiesDistance, null_count_VeryActiveDistance, null_count_ModeratelyActiveDistance, null_count_LightActiveDistance, null_count_SedentaryActiveDistance

In [52]:
null_count_VeryActiveMinutes = df['VeryActiveMinutes'].isnull().sum()
null_count_FairlyActiveMinutes = df['FairlyActiveMinutes'].isnull().sum()
null_count_LightlyActiveMinutes = df['LightlyActiveMinutes'].isnull().sum()
null_count_SedentaryMinutes = df['SedentaryMinutes'].isnull().sum()
null_count_Calories = df['Calories'].isnull().sum()


null_count_VeryActiveMinutes, null_count_FairlyActiveMinutes, null_count_LightlyActiveMinutes, null_count_SedentaryMinutes, null_count_Calories

(0, 0, 0, 0, 0)

## Check for duplicated data

In [54]:
# Check for duplicate rows
duplicates = df.duplicated(subset=['Id', 'ActivityDate'])

# Count the number of duplicate rows
num_duplicates = duplicates.sum()

In [56]:
num_duplicates

0

## Check Outliers

In [59]:
df1 = df

df1['TotalDistance'] = df['TotalDistance'].round(2)
df1['sum'] = (df['TrackerDistance'] + df['LoggedActivitiesDistance']).round(2)

df1['Equal'] = df1['TotalDistance'] == df1['sum']
df1[df1['Equal'] == False]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,Equal_TotalDistance,sum_distance,Equal_TotalDistance2,Equal_TotalDistance3,sum,Equal
138,2891001357,4/1/2016,0,0.00,0.00,4.828032,0.00,0.00,0.00,0.00,...,660,0,780,4562,True,0.00,False,True,4.83,False
215,4057192912,3/30/2016,5419,4.00,4.57,0.055843,0.00,0.00,3.91,0.06,...,0,145,1295,2259,False,3.97,False,False,4.63,False
359,6962181067,4/6/2016,12480,8.86,8.25,3.972795,4.18,0.69,4.00,0.00,...,14,276,593,2170,False,8.87,False,False,12.22,False
360,6962181067,4/7/2016,13417,9.65,8.87,1.926302,3.39,1.25,4.91,0.10,...,16,284,665,2244,False,9.65,False,False,10.80,False
361,6962181067,4/8/2016,14400,10.88,9.52,5.456864,2.47,2.88,5.53,0.00,...,37,276,697,2188,False,10.88,False,False,14.98,False
364,6962181067,4/11/2016,12362,9.09,8.17,2.696455,1.09,2.73,5.27,0.00,...,38,297,678,2188,False,9.09,False,False,10.87,False
366,7007744171,4/1/2016,11680,9.06,7.81,4.901283,4.49,0.33,4.24,0.00,...,7,244,1139,2573,False,9.06,False,False,12.71,False
369,7007744171,4/4/2016,15266,11.40,10.21,5.189850,5.80,0.76,4.79,0.05,...,21,292,1057,2886,False,11.40,False,False,15.40,False
370,7007744171,4/5/2016,12084,9.14,8.08,4.836380,4.39,0.46,4.29,0.00,...,6,284,1030,2676,False,9.14,False,False,12.92,False
371,7007744171,4/6/2016,13513,10.25,9.07,4.835720,5.35,0.33,4.56,0.00,...,8,270,1098,2811,False,10.24,False,False,13.91,False
372,7007744171,4/7/2016,14100,10.58,9.43,4.875990,5.10,1.19,4.28,0.00,...,33,265,1015,2840,False,10.57,False,False,14.31,False
373,7007744171,4/8/2016,12627,9.65,8.45,4.842320,4.70,0.74,4.21,0.00,...,22,301,1063,2871,False,9.65,False,False,13.29,False
377,7007744171,4/12/2016,7413,5.77,4.96,4.869783,4.50,0.34,0.94,0.00,...,6,43,405,1023,False,5.78,False,False,9.83,False
416,8378563200,4/4/2016,13935,11.05,11.05,2.092147,4.09,0.79,6.17,0.00,...,16,220,658,4234,True,11.05,False,False,13.14,False
417,8378563200,4/5/2016,12846,10.19,10.19,2.253081,5.00,0.75,4.44,0.00,...,15,189,686,4128,True,10.19,False,False,12.44,False
418,8378563200,4/6/2016,9124,7.24,7.24,2.092147,0.00,0.25,6.99,0.00,...,6,230,728,3798,True,7.24,False,True,9.33,False
419,8378563200,4/7/2016,9725,7.71,7.71,2.253081,2.41,0.53,4.77,0.00,...,11,181,670,3839,True,7.71,False,False,9.96,False
420,8378563200,4/8/2016,8350,6.62,6.62,2.092147,1.49,0.53,4.61,0.00,...,10,167,868,3713,True,6.63,False,False,8.71,False
423,8378563200,4/11/2016,8837,7.01,7.01,2.092147,1.54,0.88,4.59,0.00,...,17,182,811,3775,True,7.01,False,False,9.10,False
424,8378563200,4/12/2016,3246,2.57,2.57,2.253081,0.83,0.71,1.03,0.00,...,15,49,243,1882,True,2.57,False,False,4.82,False

### Delete the outliers in original set

In [60]:
# dailyActivity_merged

dailyActivity_merged['TotalDistance-1'] = dailyActivity_merged['TotalDistance'].round(2)
dailyActivity_merged['SumDistance-1'] = (df['TrackerDistance'] + df['LoggedActivitiesDistance']).round(2)

dailyActivity_merged['Equal'] = dailyActivity_merged['TotalDistance-1'] == dailyActivity_merged['SumDistance-1']
dailyActivity_merged[dailyActivity_merged['Equal'] == False]

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,SedentaryMinutes,Calories,Equal_TotalDistance,sum_distance,Equal_TotalDistance2,Equal_TotalDistance3,sum,Equal,TotalDistance-1,SumDistance-1
138,2891001357,4/1/2016,0,0.00,0.00,4.828032,0.00,0.00,0.00,0.00,...,780,4562,True,0.00,False,True,4.83,False,0.00,4.83
215,4057192912,3/30/2016,5419,4.00,4.57,0.055843,0.00,0.00,3.91,0.06,...,1295,2259,False,3.97,False,False,4.63,False,4.00,4.63
359,6962181067,4/6/2016,12480,8.86,8.25,3.972795,4.18,0.69,4.00,0.00,...,593,2170,False,8.87,False,False,12.22,False,8.86,12.22
360,6962181067,4/7/2016,13417,9.65,8.87,1.926302,3.39,1.25,4.91,0.10,...,665,2244,False,9.65,False,False,10.80,False,9.65,10.80
361,6962181067,4/8/2016,14400,10.88,9.52,5.456864,2.47,2.88,5.53,0.00,...,697,2188,False,10.88,False,False,14.98,False,10.88,14.98
364,6962181067,4/11/2016,12362,9.09,8.17,2.696455,1.09,2.73,5.27,0.00,...,678,2188,False,9.09,False,False,10.87,False,9.09,10.87
366,7007744171,4/1/2016,11680,9.06,7.81,4.901283,4.49,0.33,4.24,0.00,...,1139,2573,False,9.06,False,False,12.71,False,9.06,12.71
369,7007744171,4/4/2016,15266,11.40,10.21,5.189850,5.80,0.76,4.79,0.05,...,1057,2886,False,11.40,False,False,15.40,False,11.40,15.40
370,7007744171,4/5/2016,12084,9.14,8.08,4.836380,4.39,0.46,4.29,0.00,...,1030,2676,False,9.14,False,False,12.92,False,9.14,12.92
371,7007744171,4/6/2016,13513,10.25,9.07,4.835720,5.35,0.33,4.56,0.00,...,1098,2811,False,10.24,False,False,13.91,False,10.25,13.91
372,7007744171,4/7/2016,14100,10.58,9.43,4.875990,5.10,1.19,4.28,0.00,...,1015,2840,False,10.57,False,False,14.31,False,10.58,14.31
373,7007744171,4/8/2016,12627,9.65,8.45,4.842320,4.70,0.74,4.21,0.00,...,1063,2871,False,9.65,False,False,13.29,False,9.65,13.29
377,7007744171,4/12/2016,7413,5.77,4.96,4.869783,4.50,0.34,0.94,0.00,...,405,1023,False,5.78,False,False,9.83,False,5.77,9.83
416,8378563200,4/4/2016,13935,11.05,11.05,2.092147,4.09,0.79,6.17,0.00,...,658,4234,True,11.05,False,False,13.14,False,11.05,13.14
417,8378563200,4/5/2016,12846,10.19,10.19,2.253081,5.00,0.75,4.44,0.00,...,686,4128,True,10.19,False,False,12.44,False,10.19,12.44
418,8378563200,4/6/2016,9124,7.24,7.24,2.092147,0.00,0.25,6.99,0.00,...,728,3798,True,7.24,False,True,9.33,False,7.24,9.33
419,8378563200,4/7/2016,9725,7.71,7.71,2.253081,2.41,0.53,4.77,0.00,...,670,3839,True,7.71,False,False,9.96,False,7.71,9.96
420,8378563200,4/8/2016,8350,6.62,6.62,2.092147,1.49,0.53,4.61,0.00,...,868,3713,True,6.63,False,False,8.71,False,6.62,8.71
423,8378563200,4/11/2016,8837,7.01,7.01,2.092147,1.54,0.88,4.59,0.00,...,811,3775,True,7.01,False,False,9.10,False,7.01,9.10
424,8378563200,4/12/2016,3246,2.57,2.57,2.253081,0.83,0.71,1.03,0.00,...,243,1882,True,2.57,False,False,4.82,False,2.57,4.82

In [61]:
# Condition for string match
condition = df['ActivityDate'] == '2024-06-30'

# Drop rows meeting the condition
df_cleaned = df.drop(dailyActivity_merged[dailyActivity_merged['Equal'] == False].index)

In [62]:
df_cleaned

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,SedentaryMinutes,Calories,Equal_TotalDistance,sum_distance,Equal_TotalDistance2,Equal_TotalDistance3,sum,Equal,TotalDistance-1,SumDistance-1
0,1503960366,3/25/2016,11004,7.11,7.110000,0.0,2.57,0.46,4.07,0.00,...,804,1819,True,7.10,True,False,7.11,True,7.11,7.11
1,1503960366,3/26/2016,17609,11.55,11.550000,0.0,6.92,0.73,3.91,0.00,...,588,2154,True,11.56,True,False,11.55,True,11.55,11.55
2,1503960366,3/27/2016,12736,8.53,8.530000,0.0,4.66,0.16,3.71,0.00,...,605,1944,True,8.53,True,False,8.53,True,8.53,8.53
3,1503960366,3/28/2016,13231,8.93,8.930000,0.0,3.19,0.79,4.95,0.00,...,1080,1932,True,8.93,True,False,8.93,True,8.93,8.93
4,1503960366,3/29/2016,12041,7.85,7.850000,0.0,2.16,1.09,4.61,0.00,...,763,1886,True,7.86,True,False,7.85,True,7.85,7.85
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,4/8/2016,23014,20.39,20.389999,0.0,11.10,0.63,8.62,0.00,...,982,4196,True,20.35,True,False,20.39,True,20.39,20.39
453,8877689391,4/9/2016,16470,8.07,8.070000,0.0,0.00,0.02,8.02,0.00,...,1052,3841,True,8.04,True,False,8.07,True,8.07,8.07
454,8877689391,4/10/2016,28497,27.53,27.530001,0.0,21.92,1.12,4.46,0.00,...,1055,4526,True,27.50,True,False,27.53,True,27.53,27.53
455,8877689391,4/11/2016,10622,8.06,8.060000,0.0,1.47,0.15,6.37,0.01,...,1190,2820,True,8.00,True,False,8.06,True,8.06,8.06
456,8877689391,4/12/2016,2350,1.78,1.780000,0.0,0.00,0.00,1.78,0.00,...,531,938,True,1.78,True,True,1.78,True,1.78,1.78

## Data Manipulation

### 1 - Add day week, month

In [66]:
# Get day of the week from 'ActivityDate'

# Convert ActivityDate to datetime
df_cleaned['ActivityDate'] = pd.to_datetime(df_cleaned['ActivityDate'], format='%m/%d/%Y', errors='coerce')

# Verify conversion
if df_cleaned['ActivityDate'].isnull().any():
    print("There are some dates that could not be converted. They will be set as NaT (Not a Time).")
    print(df_cleaned[df_cleaned['ActivityDate'].isnull()])

# Extract day of the week
df_cleaned['DayOfWeek'] = df_cleaned['ActivityDate'].dt.day_name()

In [68]:
# Extract month name
df_cleaned['MonthName'] = df_cleaned['ActivityDate'].dt.month_name()

In [69]:
df_cleaned.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,Equal_TotalDistance,sum_distance,Equal_TotalDistance2,Equal_TotalDistance3,sum,Equal,TotalDistance-1,SumDistance-1,DayOfWeek,MonthName
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,...,True,7.10,True,False,7.11,True,7.11,7.11,Friday,March
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,...,True,11.56,True,False,11.55,True,11.55,11.55,Saturday,March
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,...,True,8.53,True,False,8.53,True,8.53,8.53,Sunday,March
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,...,True,8.93,True,False,8.93,True,8.93,8.93,Monday,March
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,...,True,7.86,True,False,7.85,True,7.85,7.85,Tuesday,March

### 2 - Add additional columns

In [71]:
# step length
df_cleaned['step_length'] = df_cleaned['TotalDistance'] / df_cleaned['TotalSteps']

In [72]:
# TotalMinutes
df_cleaned['TotalMinutes'] = df_cleaned['VeryActiveMinutes'] + df_cleaned['FairlyActiveMinutes'] + df_cleaned['LightlyActiveMinutes'] + df_cleaned['SedentaryMinutes']

In [73]:
# Average calories burned per active minute
df_cleaned['AvgCalories'] = df_cleaned['Calories'] / df_cleaned['TotalMinutes']

In [74]:
df_cleaned.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,...,Equal_TotalDistance3,sum,Equal,TotalDistance-1,SumDistance-1,DayOfWeek,MonthName,step_length,TotalMinutes,AvgCalories
0,1503960366,2016-03-25,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,...,False,7.11,True,7.11,7.11,Friday,March,0.000646,1054,1.725806
1,1503960366,2016-03-26,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,...,False,11.55,True,11.55,11.55,Saturday,March,0.000656,968,2.225207
2,1503960366,2016-03-27,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,...,False,8.53,True,8.53,8.53,Sunday,March,0.000670,934,2.081370
3,1503960366,2016-03-28,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,...,False,8.93,True,8.93,8.93,Monday,March,0.000675,1363,1.417461
4,1503960366,2016-03-29,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,...,False,7.85,True,7.85,7.85,Tuesday,March,0.000652,1062,1.775895

In [75]:
# Very Active Ratio
df_cleaned['VeryActiveRatio'] = df_cleaned['VeryActiveMinutes'] / df_cleaned['TotalMinutes']
df_cleaned['FairlyActiveRatio'] = df_cleaned['FairlyActiveMinutes'] / df_cleaned['TotalMinutes']
df_cleaned['LightlyActiveRatio'] = df_cleaned['LightlyActiveMinutes'] / df_cleaned['TotalMinutes']
df_cleaned['SedentaryRatio'] = df_cleaned['SedentaryMinutes'] / df_cleaned['TotalMinutes']

In [76]:
df_cleaned.columns

Index(['Id', 'ActivityDate', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories',
       'Equal_TotalDistance', 'sum_distance', 'Equal_TotalDistance2',
       'Equal_TotalDistance3', 'sum', 'Equal', 'TotalDistance-1',
       'SumDistance-1', 'DayOfWeek', 'MonthName', 'step_length',
       'TotalMinutes', 'AvgCalories', 'VeryActiveRatio', 'FairlyActiveRatio',
       'LightlyActiveRatio', 'SedentaryRatio'],
      dtype='object')

In [80]:
df_output = df_cleaned[['Id', 'ActivityDate', 'DayOfWeek', 'MonthName', 'TotalSteps', 'TotalDistance', 'TrackerDistance',
       'LoggedActivitiesDistance', 'VeryActiveDistance',
       'ModeratelyActiveDistance', 'LightActiveDistance',
       'SedentaryActiveDistance', 'VeryActiveMinutes', 'FairlyActiveMinutes',
       'LightlyActiveMinutes', 'SedentaryMinutes', 'Calories',
       'step_length',
       'TotalMinutes', 'AvgCalories', 'VeryActiveRatio', 'FairlyActiveRatio',
       'LightlyActiveRatio', 'SedentaryRatio']]

In [81]:
df_output

,Id,ActivityDate,DayOfWeek,MonthName,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,...,LightlyActiveMinutes,SedentaryMinutes,Calories,step_length,TotalMinutes,AvgCalories,VeryActiveRatio,FairlyActiveRatio,LightlyActiveRatio,SedentaryRatio
0,1503960366,2016-03-25,Friday,March,11004,7.11,7.110000,0.0,2.57,0.46,...,205,804,1819,0.000646,1054,1.725806,0.031309,0.011385,0.194497,0.762808
1,1503960366,2016-03-26,Saturday,March,17609,11.55,11.550000,0.0,6.92,0.73,...,274,588,2154,0.000656,968,2.225207,0.091942,0.017562,0.283058,0.607438
2,1503960366,2016-03-27,Sunday,March,12736,8.53,8.530000,0.0,4.66,0.16,...,268,605,1944,0.000670,934,2.081370,0.059957,0.005353,0.286938,0.647752
3,1503960366,2016-03-28,Monday,March,13231,8.93,8.930000,0.0,3.19,0.79,...,224,1080,1932,0.000675,1363,1.417461,0.028613,0.014674,0.164343,0.792370
4,1503960366,2016-03-29,Tuesday,March,12041,7.85,7.850000,0.0,2.16,1.09,...,243,763,1886,0.000652,1062,1.775895,0.026365,0.026365,0.228814,0.718456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452,8877689391,2016-04-08,Friday,April,23014,20.39,20.389999,0.0,11.10,0.63,...,359,982,4196,0.000886,1440,2.913889,0.048611,0.020139,0.249306,0.681944
453,8877689391,2016-04-09,Saturday,April,16470,8.07,8.070000,0.0,0.00,0.02,...,289,1052,3841,0.000490,1440,2.667361,0.062500,0.006250,0.200694,0.730556
454,8877689391,2016-04-10,Sunday,April,28497,27.53,27.530001,0.0,21.92,1.12,...,211,1055,4526,0.000966,1440,3.143056,0.088889,0.031944,0.146528,0.732639
455,8877689391,2016-04-11,Monday,April,10622,8.06,8.060000,0.0,1.47,0.15,...,225,1190,2820,0.000759,1440,1.958333,0.012500,0.004861,0.156250,0.826389
456,8877689391,2016-04-12,Tuesday,April,2350,1.78,1.780000,0.0,0.00,0.00,...,58,531,938,0.000757,589,1.592530,0.000000,0.000000,0.098472,0.901528

In [82]:
df_output.to_csv("dailyActivity_merged_cleaned.csv", index=False)

In [1]:
###

In [6]:
import pandas as pd
df_output = pd.read_csv('dailyActivity_merged_cleaned.csv')  


# Count the occurrences of each user (Id)
user_counts = df_output.groupby('Id').size().reset_index(name='Count')

In [7]:
user_counts.head()

           Id  Count
0  1503960366     19
1  1624580081     19
2  1644430081     10
3  1844505072     12
4  1927972279     12

In [8]:
user_counts.min(), user_counts.max()

(Id       1503960366
 Count             5
 dtype: int64,
 Id       8877689391
 Count            32
 dtype: int64)

In [11]:
# Define bins and labels
# LightActiveUser: 0-10
# ModerateActiveUser: 11-20
# VeryActiveUser: >21
bins = [0, 10, 20, float('inf')]
labels = ['LightActiveUser', 'ModerateActiveUser', 'VeryActiveUser']

# Use pd.cut to classify
user_counts['Classification'] = pd.cut(user_counts['Count'], bins=bins, labels=labels, right=False)

In [12]:
user_counts

            Id  Count      Classification
0   1503960366     19  ModerateActiveUser
1   1624580081     19  ModerateActiveUser
2   1644430081     10  ModerateActiveUser
3   1844505072     12  ModerateActiveUser
4   1927972279     12  ModerateActiveUser
5   2022484408     12  ModerateActiveUser
6   2026352035     12  ModerateActiveUser
7   2320127002     12  ModerateActiveUser
8   2347167796     15  ModerateActiveUser
9   2873212765     12  ModerateActiveUser
10  2891001357      7     LightActiveUser
11  3372868164     10  ModerateActiveUser
12  3977333714     12  ModerateActiveUser
13  4020332650     32      VeryActiveUser
14  4057192912     31      VeryActiveUser
15  4319703577     12  ModerateActiveUser
16  4388161847      8     LightActiveUser
17  4445114986     15  ModerateActiveUser
18  4558609924     12  ModerateActiveUser
19  4702921684     15  ModerateActiveUser
20  5553957443     12  ModerateActiveUser
21  5577150313     11  ModerateActiveUser
22  6117666160     10  ModerateActiveUser
23  6290855005     10  ModerateActiveUser
24  6391747486      9     LightActiveUser
25  6775888955      9     LightActiveUser
26  6962181067     10  ModerateActiveUser
27  7007744171      5     LightActiveUser
28  7086361926     12  ModerateActiveUser
29  8053475328     11  ModerateActiveUser
30  8253242879     12  ModerateActiveUser
31  8378563200      5     LightActiveUser
32  8583815059      8     LightActiveUser
33  8792009665     12  ModerateActiveUser
34  8877689391     12  ModerateActiveUser