In [1]:
import pandas as pd

In [2]:
hourlySteps = pd.read_csv('hourlySteps_merged.csv')

In [3]:
hourlySteps.head()

           Id           ActivityHour  StepTotal
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366   3/12/2016 1:00:00 AM          0
2  1503960366   3/12/2016 2:00:00 AM          0
3  1503960366   3/12/2016 3:00:00 AM          0
4  1503960366   3/12/2016 4:00:00 AM          0

## Check duplicated data

In [4]:
duplicates_specific = hourlySteps.duplicated(subset=['Id', 'ActivityHour'])

In [5]:
# Get the duplicate rows
hourlySteps[duplicates_specific]

Empty DataFrame
Columns: [Id, ActivityHour, StepTotal]
Index: []

## Add Columns

In [9]:
# Convert ActivityHour to datetime format
hourlySteps['ActivityHour'] = pd.to_datetime(hourlySteps['ActivityHour'])

# Extract date
hourlySteps['Date'] = hourlySteps['ActivityHour'].dt.date

# Extract day of the week
hourlySteps['DayOfWeek'] = hourlySteps['ActivityHour'].dt.day_name()

# Extract hour
hourlySteps['Hour'] = hourlySteps['ActivityHour'].dt.hour

In [10]:
hourlySteps.head()

           Id        ActivityHour  StepTotal        Date DayOfWeek  Hour
0  1503960366 2016-03-12 00:00:00          0  2016-03-12  Saturday     0
1  1503960366 2016-03-12 01:00:00          0  2016-03-12  Saturday     1
2  1503960366 2016-03-12 02:00:00          0  2016-03-12  Saturday     2
3  1503960366 2016-03-12 03:00:00          0  2016-03-12  Saturday     3
4  1503960366 2016-03-12 04:00:00          0  2016-03-12  Saturday     4

In [11]:
hourlySteps['StepTotal'].max()

10565

In [12]:
hourlySteps.to_csv('hourlySteps_cleaned.csv', index=False)